[*.cs]


###############################
# Hide dotnet messages        #
###############################


# CA1041: Provide ObsoleteAttribute message - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1041
dotnet_diagnostic.CA1041.severity = none